<div id="flow_keys" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Доступ</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Секретный ключ</label>
                        <input type="text" class="form-control" id="flow_secret_key" disabled>
                </div>
                <div class="form-group">
                    <label>Маркер доступа</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="flow_access_token" disabled>
                        <span class="input-group-btn ">
                            <button class="btn btn-default" id="flow_update_access_token" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>