<div class="container" style="margin-top: 40px">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h1>add a link to the queue</h1></div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <p>
                                    GET
                                </p>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>params</th>
                                        <th>status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>description</td>
                                        <td>required</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>link</td>
                                        <td>required</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>imgUrl</td>
                                        <td>required</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p>
                                    POST
                                </p>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>params</th>
                                        <th>status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>secretKey</td>
                                        <td>required</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>accessToken</td>
                                        <td>required</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h4>Example</h4>
                        <p>
                            {http:// or https://}{this domain}/services/link/:socialName?description=text
                            description&link= url material&imgUrl=img http link

                        </p>

                    </div>
                </div>
            </div>
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">Queue</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; 2015  TECHNO<span class="logo-media">MEDIA</span><sup>&trade;</sup></p>
    </footer>

</div><!--/.container-->