<div class="col-md-12" style="margin-top: 15px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1><i class="fa fa-vk"> </i> vk.com</h1>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading"> <h1>Posting link</h1> </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>params</th>
                                <th>status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>description</td>
                                <td>required</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>link</td>
                                <td>required</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>imgUrl</td>
                                <td>no required</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>responseType</td>
                                <td>no required</td>
                            </tr>
                            <tr class="success">
                                <td>3</td>
                                <td>project</td>
                                <td><h4>developed</h4></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="well">
                <h4>Example</h4>
                <p>
                    {http:// or https://}{this domain}/services/post/:socialName?description=text description&link= url material&imgUrl=img http link&responseType=json

                </p>

            </div>
        </div>
    </div>
</div>