<?php $partViewer->view('layouts/header'); ?>
<?php $partViewer->view('menu/up_menu'); ?>
    <!-- Рабочая область -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Статья</h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bars fa-fw"></i>
                    Статья
                </div>
                <form id="article" method="post" role="form">
                    <div class="panel-body">
                        <input hidden="" name="articleId" id="articleId">

                        <div class="form-group">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="Загловок статьи. Поле обязательно для сохранения!"> Заголовок
                            </label>
                            <input id="title" anons="title" type="text" name="title" class="form-control"
                                   placeholder="Заголовок" required>
                        </div>
                        <div id="title_warning" data-id="error">
                        </div>
                        <div class="form-group">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="Анонс. Поле обязательно для сохранения!"> Анонс</label>
                            <textarea id="anons" rows="3" name="anons" class="form-control" placeholder="Анонс"
                                      required></textarea>
                        </div>
                        <div id="anons_warning" data-id="error">
                        </div>
                        <div class="form-group">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="description">Ключевая фраза</label>
                    <textarea id="meta_description" rows="3" name="meta_description" class="form-control"
                              placeholder="Ключевая фраза"
                              required></textarea>
                        </div>
                        <div id="meta_description_warning" data-id="error">
                        </div>
                        <div class="form-group">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="Keywords"> Ключевые слова </label>
                    <textarea id="meta_keywords" rows="3" name="meta_keywords" class="form-control"
                              placeholder="Ключевые слова через запятую" required></textarea>
                        </div>
                        <div id="meta_keywords_warning" data-id="error" style="margin-bottom: 10px">
                        </div>
                        <div class="form-group" id="rubric">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="Статья принадлежит как минимум 1-ой рубрики максимум к 3-м">
                                Рубрики
                            </label>
                            <button id="get_rubrics" type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#myModal">
                                Привязать к рубрике
                            </button>
                        </div>
                        <div id="rubrics_warning" data-id="error">
                        </div>
                        <div class="form-group">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="Содержимое статьи: текст, изображение. Поле обязательно для сохранения!">
                                Содержимое статьи
                            </label>
                            <textarea id="text" rows="20" class="Editor" name="text"></textarea>
                        </div>
                        <div id="text_warning" data-id="error">
                        </div>
                        <div class="form-group">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="Иконка"> Первью для статьи (Изображение)
                            </label>

                            <div class="form-group input-group">
                                <input type="text" class="form-control input-sm" id="ico" disabled=""/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" id="preview-image" type="button"><i
                                                        class="fa fa-search"></i>
                                                </button>
                                                <button class="btn" id="insert-img" type="button">
                                                    <i class="fa fa-photo"></i>
                                                </button>
                                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="Сюжет"> Превью для сюжета (Изображение)
                            </label>

                            <div class="form-group input-group">
                                <input type="text" class="form-control input-sm" id="top" disabled=""/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" id="preview-image" type="button"><i
                                                        class="fa fa-search"></i>
                                                </button>
                                                <button class="btn" id="insert-img" type="button">
                                                    <i class="fa fa-photo"></i>
                                                </button>
                                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" data-toggle="tooltip" data-placement="top"
                                   title="Автор статьи"> Автор статьи</label>
                            <input type="text" name="author" id="author" class="form-control" placeholder="Автор статьи"
                                   required>
                        </div>
                        <div id="author_warning" data-id="author_warning">
                        </div>
                        <div class="form-group">
                            <label for="openDate" data-toggle="tooltip" data-placement="top"
                                   title="Поле обязательно для сохранения!">
                                Время публикации статьи</label>
                            <input type="text" class="form-control date" name="published_at" id="published_at"
                                   required="">
                        </div>
                        <div id="published_at_warning" data-id="error">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div id="article_save" type="submit" class="btn btn-primary" type="button">
                            <i class="fa fa-save fa-fw"></i>
                            Сохранить
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<?php $partViewer->view('html-helper/upload-and-paste-images-in-materials') ?>
<?php $partViewer->view('html-helper/inserting-images-in-materials') ?>
<?php $partViewer->view('html-helper/inserting-images-preview') ?>
<?php $partViewer->view('html-helper/inserting-show-image') ?>
<?php $partViewer->view('html-helper/select-rubric'); ?>
<?php $partViewer->view('html-helper/loader'); ?>
<?php $partViewer->view('layouts/footer'); ?>